# Ignore Emscripten and build artefacts
**/*.wasm
**/*.o
**/*.bc
**/*.js

# Ignore Python caches and virtual environments
__pycache__/
*.py[cod]
env/
venv/
*.egg-info/

# Ignore test output
.pytest_cache/

# OS and editor junk
*~
.DS_Store
Thumbs.db