# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.dylib
*.dll
.venv/
venv/
env/
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Wasm artifacts
c/*.wasm
c/*.wat

# Emscripten
**/.emscripten_cache/
**/emsdk/
**/emsdk-*/
**/upstream/
**/node_modules/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
